<%- include("partials/header") %>

<header>
  <div class="work">
    <img src="/work.png" alt="workpng" />
  </div>
  <div class="heading">
    <h2>İş takip Uygulaması</h2>
    <a class="btn" href="/works">İşleri görüntüle</a>
  </div>
</header>

<%- include("partials/footer") %>
